.current-weather {
    background: rgb(194,192,192);
    background: linear-gradient(196deg, rgba(194,192,192,1) 0%, rgba(104,99,99,1) 0%, rgba(57,55,55,1) 23%, rgba(0,0,0,1) 81%);    border-radius: 10px;
    width: 350px;
    color: #fff;
    font-family: var(--primary-font);
    padding: 15px;
    font-size: 14px;
    margin: 10px;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city {
    font-weight: 200;
    font-size: 22px;
}

.image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 200;
}

.weather-image {
    margin-bottom: 10px;
    width: 90px;
}

.info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    font-weight: 200;
}

.temperature {
    font-size: 42px;
    font-weight: 600;
}

.details-inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
    margin: 5px 0;
}

.details-image{
    width: 20px;    
}

.additional-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 200;
    font-size: 10px;
}

.current-weather-heading {
    font-size: 16px;
    font-weight: 300;
    font-family: var(--primary-font);
    margin: 0 10px;
}