.forecast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: var(--primary-font);
  }
  
  .day {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    justify-content: space-between;
    background: rgb(194,192,192);
    background: linear-gradient(196deg, rgba(194,192,192,1) 0%, rgba(104,99,99,1) 0%, rgba(57,55,55,1) 23%, rgba(0,0,0,1) 81%);    border-radius: 10px;
    border-radius: 5px;
    width: 14%;
    max-width: 100%;
    color: white;
  }
  
  .heading-temp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .day-heading {
    margin-bottom: 5px;
  }
  
  .day-temp {
    font-size: 28px;
  }
  
  .day-icon {
    width: 60px;
  }
  
  @media screen and (max-width: 1024px) {
  
    .day {
      flex-direction: column;
    }
    .day-heading {
      font-size: 14px;
    }
  
    .day-temp {
      font-size: 24px;
    }
}

@media screen and (max-width: 680px) {
    .forecast {
      flex-direction: column;
    }
  
    .day {
      width: 100%;
      flex-direction: row;
      margin-bottom: 5px;
    }
  
    .heading-temp-container {
      flex-direction: row;
      width: 50%;
      justify-content: space-between;
      align-items: center;
    }
  
    .day-heading {
      margin-bottom: 0;
    }
  }