.search {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 76%;
    padding: 3px 0 3px 3px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: var(--primary-font);
  }
  
  .search-input:focus {
    outline: none;
  }
  
  .search-btn {
    width: 23%;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(194,192,192);
    background: linear-gradient(196deg, rgba(194,192,192,1) 0%, rgba(104,99,99,1) 0%, rgba(57,55,55,1) 23%, rgba(0,0,0,1) 81%);    border-radius: 10px;
    border-style: none;
    color: #fff;
    cursor: pointer;
    font-family: var(--primary-font);
  }