* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    padding: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: hsla(298, 68%, 90%, 1);
    background: linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);
}

.inner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.current-weather-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.forecast-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.small-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 753px) {
    .current-weather-container {
        flex-direction: column;
    }
}